*{
    padding: 0;
    margin: 0;
}
body{
    background-color: whitesmoke;
}
input{
    outline: none;
    width: 350px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;
}

