*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
html{
    scroll-behavior: smooth;
}

#home{
    width: 100%;
    height: 1000px;
    background-image: url("ecom.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#gallery{
    width: 100%;
    height: 750px;
    background-image: url("https://media.geeksforgeeks.org/wp-content/cdn-uploads/CSS.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#contact{
    width: 100%;
    height: 900px;
    background-image: url("https://www.bluejaywebsolutions.com/sites/default/files/2021-08/javascript.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
footer{
    background: linear-gradient(135deg, #020024, #090979, #00d4ff);
    width: 100%;
    bottom: 0;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    z-index: 20;
    color: white;
}
.footer_content ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
    font-size: 20px;
}
.footer_content p{
    text-align: center;
    font-size: 1rem;
}

.footer_content a:hover{
    color: red;
}

.footer_content a{
color: white;
font-size: 1.5rem;
}


